<section>
    <div style="height:475px" id="container">
    <canvas id="canvas">
    Your browser does not support HTML5 canvas.
    </canvas>
    </div>
</section>
<section ng-init="mySwitch=true">
<label>Choose work area background color:</label><input id="background-color" type="color" onchange="javascript:document.getElementById('canvas').style.backgroundColor = document.getElementById('background-color').value;"/>

<button ng-click="delete()">Delete selcted item</button>
<input type="text" ng-disabled="mySwitch"  ng-change="refresh()" ng-model="boxes[selectedIndex].content"/>
<!-- <pre>{{boxes|json}}</pre> -->
</section>
<script>
var canvas = document.querySelector('canvas');
fitToContainer(canvas);

function fitToContainer(canvas){
  // Make it visually fill the positioned parent
  canvas.style.width ='100%';
  canvas.style.height='100%';
  // ...then set the internal size to match
  canvas.width  = canvas.offsetWidth;
  canvas.height = canvas.offsetHeight;
}
</script>
